/* ******************** ZVEZDINA STOPARCA ******************** //
// ----------------------------------------------------------- //
// ***** STYLESHEET				 						 ***** //
// ----------------------------------------------------------- */

.content {
	background-color: #efefee;
	min-height: 100px;

	padding: 20px;

	font-size: 14px;
}

.general-commands {
	background-color: #efefee;
	padding: 10px 20px;
	margin-bottom: 10px;

	font-size: 14px;
}
.general-commands > * {
	display: inline-block;
}
.general-commands > input[type="button"] {
	margin-right: 20px;
}

.title-mid {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}
.title-min {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 5px;
}

.length-settings {
	margin-bottom: 10px;
}
.length-settings > * {
	display: inline-block;
}
.length-input {
	width: 100px;
}

.time-box {
	margin-bottom: 10px;
}
.time-box > p {
	margin-bottom: 3px;
}

.side-menu {
	position: fixed;
	top: 56px;
	left: 5px;
	padding: 15px;

	width: 120px;
	background-color: rgba(200, 220, 220, 0.8);
}
.general-button {
	cursor: pointer;
	text-transform: uppercase;
}
/*#start-all {
	background-color: rgb(55, 150, 55);
}
#reset-all {
	background-color: rgb(55, 55, 55);
}
#save-all {
	background-color: rgb(55, 55, 150);
}*/

.dictionary {
	font-size: 20px;
	margin-bottom: 10px;
}
.dictionary > .mini-panel {
	display: inline-block;
	padding: 5px;
	margin-right: 25px;

	border-radius: 3px;
	box-shadow: 1px 1px 1px #888888;

	background-color: rgba(212, 212, 212, 0.7);
}